/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* Body Styling */
body {
  box-sizing: border-box;
}
/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

#bg-aboutcover {
  transition: height 0.3s;
  background-image: url("./assets/HomePage_Covers/dna2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}
/* Font styling */
.monst-font {
  font-family: 'Montserrat', sans-serif;
}
.members-subhead{
  font-family: 'Merriweather', serif;
}
.credits-font{
  font-family: 'PT Serif', serif;
}
/* Footer image */
.footer-bg-img{
  background-image: url('./assets/HomePage_Covers/footer-bg.jpg');
  background-repeat: no-repeat;
  height: auto;
}
/* icons styling in members*/
.icon-class {
  font-size: 1.5em;
  color: gray;
}

/* Ensuring mobile responsiveness for the background image and header */
header.h-screen {
  min-height: -webkit-fill-available; /* This helps to ensure the full viewport height on mobile browsers */
}

/* Ensuring the background image fits within the viewport */
header.h-screen {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Taking the full viewport height */
  overflow: hidden; /* Preventing overflow */
}

